* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-color: var(--background-color);
    display: flex;
    position: relative;
    overflow: hidden;
}

.ellipsis{
    white-space: nowrap;    /* 强制文本在一行显示 */
    overflow: hidden;        /* 超出容器宽度的部分隐藏 */
    text-overflow: ellipsis; /* 用省略号表示被隐藏的部分 */
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/*覆盖浏览器对输入框的自动填充的样式*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:autofill {
    box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #1f2937 !important;
    background-image: none !important;
    transition: background-color 5000s ease-in-out 0s !important;
}
input:focus-visible{
    outline:none;
}

.hidden{
    display: none;
}