{% extends 'component/page_base.html' %}

{% block css_file %}
    {% assets "login_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}
{% endblock %}

{% block body %}
    <body>
        <div class="cover-container">
            <div class="cover-display">
                <img class="cover-img" src="static/covers/cover.png" alt="cover">
            </div>
            <div class="login-container">
                <form class="login-form" id="login-form">
                    <div class="login-logo">
                        <img src="static/icons/logo.png" alt="logo">
                    </div>
                    <div class="form-line-item">
                        <label for="account">{% block account %}{{_('ACCOUNT')}}{% endblock %}</label>
                        <div class="form-icon-input">
                            <div class="form-icon">
                                <img src="static/icons/user.png" alt="user">
                            </div>
                            <input type="text" id="account" placeholder="{% block account_holder %}{{_('ACCOUNT HOLDER')}}{% endblock %}">
                        </div>
                    </div>
                    <div class="form-line-item">
                        <label for="password">{% block password %}{{_('PASSWORD')}}{% endblock %}</label>
                        <div class="form-icon-input">
                            <div class="form-icon">
                                <img src="static/icons/password.png" alt="password">
                            </div>
                            <input type="password" id="password" placeholder="{% block password_holder %}{{_('PASSWORD HOLDER')}}{% endblock %}">
                        </div>
                    </div>
                    <div class="form-button spinner-holder" id="login-button">
                        <a>{% block login_button %}{{_('LOGIN BUTTON')}}{% endblock %}</a>
                    </div>
                </form>
            </div>
        </div>
    {% block js_file %}
        {% assets "login_js" %}
            <script type="module" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    {% endblock %}
    </body>
{% endblock %}