{% extends 'component/page_base.jinja2' %}
{% import 'component/ui_forms.jinja2' as forms %}
{% import 'component/ui_components.jinja2' as components %}

{% block css_file %}
    {% assets "login_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}
{% endblock %}

{% block body_content %}
    <div class="cover-container">
        {{components.cover()}}
        <div class="login-container">
            <form class="login-form" id="login-form">
                {{components.logo()}}
                {{forms.input('account',_('ACCOUNT'),'text','/static/icons/user.png', _('ACCOUNT HOLDER'))}}
                {{forms.input('password',_('PASSWORD'),'password','/static/icons/password.png', _('PASSWORD HOLDER'))}}
                {{forms.button('login-button',_('LOGIN BUTTON'))}}
            </form>
        </div>
    </div>
{% endblock %}

{% block js_file %}
    {% assets "login_js" %}
        <script type="module" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}