{% extends 'component/ui_popup_base.jinja2' %}

{% block popup_id %}popupImage{% endblock %}
{% block container_class %}popup-empty-container{% endblock %}
{% block container_style %}style="min-width:0;justify-content: center;align-items: center;"{% endblock %}

{% block popup_content %}
<div class="popup-image">
</div>
{% endblock %}