<div class="popup-overlay {% block popup_hidden %}hidden{% endblock %}">
    <div class="popup-empty-container" id="{% block popup_id %}popupContainer{% endblock %}">
        {% block popup_content %}
        {% endblock %}
    </div>
</div>