.background-container{
    position: fixed;
    display: flex;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background-container>img{
    width:100%;
    height:100%;
    object-fit: cover;
}