/*带图标的输入框的效果*/
.form-icon-input{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    border: 2px solid var(--theme-color);
    display: flex;
    flex-direction: row;
    color: var(--theme-color);
    font-size: 16px;
    transition: all .5s ease;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.2);
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    gap: 5px;
    background-color: var(--background-color);
}
.form-icon-input>input{
    flex-grow: 1;
    height: 100%;
    border-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 15px;
    background: transparent;
    border-radius: 10px;
}

/*简易，深色背景的按钮*/
.form-button{
    cursor: pointer;
    min-height: 36px;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--theme-color);
    border-radius: 12px;
    border: 2px solid var(--theme-color);
    color: var(--background-color);
    font-size: 15px;
    transition: all .5s ease;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.2);
    text-align: center;
}
.form-button:hover{
    color: var(--theme-color);
    background-color: var(--background-color);
}

.form-warn_button{
    cursor: pointer;
    min-height: 36px;
    width: 100%;
    box-sizing: border-box;
    background-color: #FC9C9E;
    border-radius: 12px;
    border: 2px solid #FC9C9E;
    color: var(--background-color);
    font-size: 15px;
    transition: all .5s ease;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.2);
    text-align: center;
}

.form-warn_button:hover{
    color: var(--theme-color);
    background-color: var(--background-color);
    border-color: var(--theme-color);
}

/*占满一行的，带标签的输入栏*/
.form-line-item{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form-line-item>*:nth-child(1){
    min-height: 24px;
    font-size: 15px;
}

.form-line-item>*:nth-child(2){
    min-height: 36px;
}

/*默认图标效果*/
.form-icon {
    width: 24px;
    height: 24px;
}
.form-icon>img{
    width: 24px;
    height: 24px;
}

/*纯图片的按钮*/
.form-button-icon{
    min-width: 36px;
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    background: var(--transparent-color);
    border-radius: 12px;
    display:flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #e7e1f1;
    transition: all 0.5s ease;
    cursor: pointer;
}
.form-button-icon>img{
    width: 24px;
    height: 24px;
}
.form-button-icon:hover{
    border-color: var(--theme-color);
}

/*左侧带图片的搜索栏，对form-icon-input的改造*/
.form-search-bar{
    height: 36px;
    width: 500px;
    display: flex;
}
.form-search-bar>.form-icon-input{
    background-color: var(--transparent-color);
    font-size: 14px;
    border-color: var(--border-color);
}
.form-search-bar>.form-icon-input:hover{
    border-color: var(--theme-color);
}
.form-search-bar input{
    font-size: 14px;
    color: var(--theme-color);
}

.form-title{
    color: var(--theme-color);
    font-size: 29px;
    font-weight: bold;
}

.form-base{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-base .form-title:first-child{
    padding-bottom: 15px;
}

.form-base .form-buttons:last-child{
    padding-top: 15px;
}

.form-input{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    border: 2px solid var(--theme-color);
    display: flex;
    flex-direction: row;
    color: var(--theme-color);
    font-size: 15px;
    transition: all .5s ease;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.2);
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    gap: 5px;
    background-color: var(--background-color);
}

.form-select{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    border: 2px solid var(--theme-color);
    display: flex;
    flex-direction: row;
    color: var(--theme-color);
    font-size: 15px;
    transition: all .5s ease;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.2);
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    gap: 5px;
    background-color: var(--background-color);
}

.form-textarea{
    max-height: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    border: 2px solid var(--theme-color);
    display: flex;
    flex-direction: row;
    color: var(--theme-color);
    font-size: 15px;
    transition: all .5s ease;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.2);
    align-items: center;
    padding: 10px;
    gap: 5px;
    background-color: var(--background-color);
}

.form-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.form-buttons>*{
    max-width: 120px;
}