:root {
    --form-item-height: 44px;  /*基础元素高度*/
    --form-theme-color: var(--theme-color);  /*主题色*/
    --form-item-radius: 12px;  /*基础元素圆角*/
    --form-item-border: 2px solid var(--theme-color);
    --form-font-size: 16px;
    --form-shadow: 0 4px 6px -1px rgba(0,0,0,0.2);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:autofill {
    box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #1f2937 !important;
    background-image: none !important;
    transition: background-color 5000s ease-in-out 0s !important;
}
input:focus-visible{
    outline:none;
}

.form-icon-input{
    min-height: var(--form-item-height);
    width: 100%;
    box-sizing: border-box;
    border-radius: var(--form-item-radius);
    border: var(--form-item-border);
    display: flex;
    flex-direction: row;
    color: var(--form-theme-color);
    font-size: var(--form-font-size);
    transition: all .5s ease;
    box-shadow: var(--form-shadow);
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    gap: 5px;
    background-color: var(--background-color);
}

.form-icon-input>input{
    flex-grow: 1;
    height: 100%;
    border-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: var(--text-remark-size);
    background: transparent;
    border-radius: 10px;
}

.form-button{
    cursor: pointer;
    min-height: var(--form-item-height);
    width: 100%;
    box-sizing: border-box;
    background-color: var(--form-theme-color);
    border-radius: var(--form-item-radius);
    border: var(--form-item-border);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
    font-size: var(--form-font-size);
    transition: all .5s ease;
    box-shadow: var(--form-shadow);
}

.form-button:hover{
    color: var(--form-theme-color);
    background-color: var(--background-color);
}

.form-line-item{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-icon {
    width: 24px;
    height: 24px;
}

.form-icon>img{
    width: 100%;
    height: 100%;
}