.navigation-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.7s ease;
}

.navigation-content{
    width: 100%;
    height: 84px;
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    gap: 15px;
}

.navigation-control{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.navigation-title{
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--background-color);
    font-size: 29px;
    font-weight: bold;
}

.navigation-button{
    min-width: 42px;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: var(--transparent-color);
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid #e7e1f1;
    transition: all 0.5s ease;
}

.navigation-button:hover{
    border-color: var(--theme-color);
}

.navigation-button:hover>img{
    width: 24px;
    height: 24px;
}

.navigation-button>img{
    width: 24px;
    height: 24px;
}

.navigation-page{
    width: 100%;
    height: 100%;
}