.navigation-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 72px 1fr;
    transition: all 0.7s ease;
}

.navigation-content{
    width: 100%;
    height: 72px;
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    gap: 15px;
}

.navigation-control{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.navigation-title{
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--background-color);
    font-size: 29px;
    font-weight: bold;
}

.navigation-button{
    min-width: 42px;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: var(--transparent-color);
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid #e7e1f1;
    transition: all 0.5s ease;
}

.navigation-button:hover{
    border-color: var(--theme-color);
}

.navigation-button:hover>img{
    width: 24px;
    height: 24px;
}

.navigation-button>img{
    width: 24px;
    height: 24px;
}

.navigation-page{
    width: 100%;
    flex-grow: 1;
    min-height: 0;
}

.navigation-popup{
    width: 300px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--background-color);
    border: 2px solid #e7e1f1;
    border-radius: 15px;
    padding: 5px 10px 10px 10px;
}

@media (max-width: 500px), (max-device-width: 500px){
    .navigation-container{
        grid-template-rows: 62px 1fr;
    }
    .navigation-content{
        padding: 0 10px;
        height: 62px;
    }
}