.page-select-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.page-select-button{
    display: flex;
    height: 28px;
    width: 28px;
    min-width: 28px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    transition: all 0.5s ease;
}

.page-select-button:hover{
    border-color: var(--theme-color);
}

.page-select-button>img{
    width: 24px;
    height: 24px;
}

.page-select-input{
    border-radius: 10px;
    border: 2px solid var(--line-color);
    box-sizing: border-box;
    height: 28px;
    transition: all 0.5s ease;
    text-align: center;
    font-size: 15px;
}

.page-select-input>input{
    width: 44px;
    min-width: 44px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 15px;
    background: transparent;
    box-sizing: border-box;
    height: 24px;
    text-align: center;
    border: 0px;
}

.page-select-input:hover{
    border-color: var(--theme-color);
}

.page-select-limit{
    width: 64px;
    min-width: 64px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 16px;
    background: transparent;
    border-radius: 10px;
    border: 2px solid var(--line-color);
    box-sizing: border-box;
    height: 28px;
    transition: all 0.5s ease;
    text-align: center;
    font-size: 15px;
}

.page-select-limit:hover{
    border-color: var(--theme-color);
}

.page-select-item{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.page-select-text>a{
    min-height: 24px;
    display: flex;
    align-items: center;
    font-size: 15px;
}