.popup-overlay{
    height: 100%;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    padding: 15px;
    box-sizing: border-box;
}

.popup-container{
    min-width: 640px;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--background-color);
    border: 2px solid var(--theme-color);
    border-radius: 15px;
    padding: 25px;
}

.popup-overlay-float{
    height: 100%;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    position: absolute;
    z-index: 1;
}

.popup-container-float{
    position:absolute;
    max-height: calc( 100% - 30px );
    max-width: calc( 100% - 30px );
}

.popup-empty-container{
    min-width: 640px;
    max-width: 70%;
    display: flex;
    flex-direction: column;
}

.popup-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.popup-image>img{
    width: 100%;
    max-height: 100%;
    display: block;
}

@media (max-width: 1024px), (max-device-width: 1024px){
    .popup-container{
        min-width: calc( 100% - 30px );
    }
}