.sidebar-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.sidebar-content{
    height: 100%;
    width: 100%;
    background-color: var(--transparent-color);
    padding: 15px 15px;
    box-sizing: border-box;
    border-right: 2px solid var(--theme-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-item{
    height: 48px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 15px;
    padding: 0px 15px 10px 15px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: var(--transparent-color);
    border: 2px solid #e7e1f1;
    cursor: pointer;
    transition: all 0.5s ease;
    align-items: end;
}

.sidebar-item:hover, .sidebar-item:hover.active{
    background-color: var(--transparent-color);
    border-color: var(--theme-color);
}

.sidebar-item:hover>.sidebar-text,
.sidebar-item:hover.active>.sidebar-text{
    color: var(--theme-color);
}

.sidebar-item.active{
    background-color: var(--theme-color);
    border-color: var(--theme-color);
}

.sidebar-icon{
    width: 32px;
    display: flex;
    justify-content: center;
}

.sidebar-icon>img{
    width: 24px;
}

.sidebar-text{
    color: #A098AE;
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: end;
    transition: all 0.5s ease;
}

.sidebar-text.active{
    color: var(--background-color);
}

.sidebar-group-head{
    height: 48px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 15px;
    padding: 0px 15px 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 15px;
    background-color: var(--transparent-color);
    border: 2px solid #e7e1f1;
    transition: all 0.5s ease;
    align-items: end;
}

.sidebar-group-head:hover, .sidebar-group-head:hover.active{
    background-color: var(--transparent-color);
    border-color: var(--theme-color);
}

.sidebar-group-head:hover>.sidebar-text,
.sidebar-group-head:hover.active>.sidebar-text{
    color: var(--theme-color);
}

.sidebar-group-head.active{
    background-color: var(--theme-color);
    border-color: var(--theme-color);
    color: var(--background-color);
}

.sidebar-group-head.expand{
    border-radius: 15px 15px 0px 0px;
}


.sidebar-switch{
    width: 32px;
    display: flex;
    justify-content: center;
}

.sidebar-switch>img{
    width: 24px;
}

.sidebar-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: var(--transparent-color);
}

.sidebar-group-container{
    width: 100%;
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.5s ease;
    gap: 10px;
    padding: 10px 10px 10px 35px;
    border: 2px solid #e7e1f1;
    border-top: 0px;
    border-radius: 0px 0px 15px 15px;
}

.sidebar-group-container.active{
    display: flex;
}

.sidebar-group-item{
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 0px 5px 0px 0px;
    box-sizing: border-box;
    border-radius: 2px;
    border-right: 3px solid var(--background-color);
    transition: all 0.3s ease;
    align-items: end;
}

.sidebar-group-icon{
    width:24px;
    display:flex;
    justify-content: center;
}

.sidebar-group-icon>img{
    width:24px;
}

.sidebar-group-item.active,
.sidebar-group-item:hover{
    border-color: var(--theme-color);
}
.sidebar-group-item.active>.sidebar-text,
.sidebar-group-item:hover>.sidebar-text{
    color: var(--theme-color);
}

.sidebar-overlay{
    transition: all 0.7s ease;
    overflow: hidden;
    width: 220px;
    min-width: 220px;
    position: absolute;
    height: 100%;
    z-index: 1;
}

.sidebar-hidden{
    transform: translateX(-100%);
}

.sidebar-padding{
    padding-left: 220px;
}

.sidebar-page{
    width: 100%;
    height: 100%;
    min-height: 0;
    transition: all 0.7s ease;
}

@media (max-width: 1024px), (max-device-width: 1024px){
    .sidebar-padding{
        padding-left: 0px;
    }
    .sidebar-content{
        background-color: var(--background-color);
    }
}