.audio-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 10px;
}

.audio-set-list{
    width: 990px;
    flex-grow: 1;
    min-height: 0;
    background-color: var(--transparent-color);
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-content: flex-start;
    padding: 15px;
    overflow-y: auto;
}

.audio-set-item{
    width: 124px;
    height: 150px;
    display: grid;
    grid-template-rows: 120px 30px;
    justify-content: center;
    border: var(--transparent-color) 2px solid;
    box-sizing: border-box;
    border-radius: 17px;
    align-content: flex-start;
    transition: all 0.5s ease;
    gap: 4px;
}

.audio-set-item:hover{
    border-color: var(--theme-color);
}

.audio-set-item>img{
    width: 120px;
    height: 120px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    overflow: hidden;
}

.audio-set-item>a{
    display:flex;
    justify-content:center;
    align-items: end;
    height: 24px;
    padding-bottom: 4px;
    box-sizing: border-box;
}

.audio-play-bar{
    height: 80px;
    width: 100%;
    display: flex;
    background-color: var(--transparent-color);
}

.audio-set-part{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 990px 1fr;
    padding: 0px 15px;
    box-sizing: border-box;
    gap: 10px;
}

.audio-set-bar{
    width: 100%;
    height: 36px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.audio-set-info{
    width: 100%;
    height: 36px;
    border-radius: 12px;
    background-color: var(--transparent-color);
    padding: 0 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.audio-set-info>img{
    height: 24px;
    width: 24px;
    padding-right: 10px;
}

.audio-set-info>a{
    font-size: 14px;
    height: 20px;
    display: flex;
    align-items: end;
}

.audio-list-bar{
    display: grid;
    grid-template-columns: 1fr 36px;
    width: 100%;
    height: 36px;
    gap: 10px;
}

.audio-list{
    height: 100%;
    flex-grow: 1;
    min-height: 0;
    border-radius: 12px;
    background-color: var(--transparent-color);
}

.audio-control-bar{
    height: 36px;
    display: grid;
    grid-template-columns: 990px 1fr;
    gap: 10px;
    padding: 0 15px;
}

.audio-list-header{
    height: 38px;
    width: 100%;
    display: grid;
    grid-template-columns: 32px 2fr 1fr 32px;
    padding: 0px 15px 0 5px;
    gap: 10px;
    box-sizing: border-box;
    border-bottom: 2px solid var(--line-color);
    align-items: end;
}

.audio-item-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.audio-item-icon>img{
    width: 24px;
    height: 24px;
}

.audio-item-control>img{
    width: 24px;
    height: 24px;
}

.audio-list-item{
    height: 44px;
    width: 100%;
    display: grid;
    grid-template-columns: 32px 2fr 1fr 32px;
    gap: 10px;
    box-sizing: border-box;
    border-bottom: 1px dotted var(--line-color);
    align-items: center;
    padding: 0 15px 0 5px;
}

.audio-item-column{
    height: 100%;
    display: flex;
    align-items: center;
}

.audio-item-column>a{
    min-height: 22px;
    display: flex;
    align-items: end;
    font-size: 15px;
}

.audio-item-control{
    min-width: 32px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #e7e1f1;
    box-sizing: border-box;
    transition: all .5s ease;
    border-radius: 10px;
}

.audio-item-control:hover{
    border-color: var(--theme-color);
}

.audio-control-list{
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
    background-color: var(--background-color);
    border: 2px solid #e7e1f1;
    border-radius: 15px;
}