:root{
    --login-form-width: 460px; /*登录栏宽*/
}

.login-form{
    width: var(--login-form-width);
    height: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 90px;
    padding-right: 90px;
}