.storage-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px 15px 10px 15px;
    box-sizing: border-box;
}

.storage-control-bar{
    width: 100%;
    height: 36px;
    display: grid;
    grid-template-columns: 1fr 444px;
    box-sizing: border-box;
    gap: 12px;
}
.storage-control-bar>*:nth-child(1){
    display: grid;
    grid-template-columns: 36px 1fr;
    gap: 12px;
}
.storage-control-bar>*:nth-child(2){
    display: grid;
    grid-template-columns: 1fr repeat(3, 36px);
    gap: 12px;
}


.storage-icon{
    width: 24px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.storage-icon>img{
    width: 24px;
    height: 24px;
}

.storage-path-bar{
    height: 36px;
    background-color: var(--transparent-color);
    box-sizing: border-box;
    border: 2px solid #e7e1f1;
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    transition: all 0.5s ease;
    padding: 0px 7px;
    gap: 10px;
    overflow-x: auto;
}
.storage-path-bar::-webkit-scrollbar{
    height: 0px;
}

.storage-path-bar: hover{
    border-color: var(--theme-color);
}

.storage-file-container{
    width: 100%;
    flex-grow: 1;
    min-height: 0;
    background-color: var(--transparent-color);
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.storage-file-header{
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    border-bottom: 2px solid var(--line-color);
    display: grid;
    grid-template-columns: 32px 1fr 180px 90px 90px 32px;
    gap: 10px;
    padding: 0px 15px 0px 5px;
    align-items: end;
}
.storage-file-header>*:nth-child(2){
    min-width: 180px;
}

.storage-filelist{
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    position: relative;
    min-height: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow-y: auto;
}
.storage-filelist::-webkit-scrollbar{
    width: 0px;
}

.storage-file-footer{
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    border-top: 2px solid var(--line-color);
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 0px 15px;
}

.storage-file-item{
    width: 100%;
    height: 44px;
    min-height: 44px;
    box-sizing: border-box;
    border-bottom: 1px dotted var(--line-color);
    display: grid;
    grid-template-columns: 32px 1fr 180px 90px 90px 32px;
    gap: 10px;
    padding: 0px 15px 0px 5px;
    align-items: center;
    transition: all 0.5s ease;
    cursor: pointer;
    position: relative;
}
.storage-file-item>*:nth-child(2){
    min-width: 180px;
}

.storage-file-item:hover{
    background-color: rgba(244, 247, 249, 0.65);
}

.storage-file-icon{
    min-width: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.storage-file-icon>img{
    width: 24px;
    height: 24px;
}

.storage-file-control{
    min-width: 32px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #e7e1f1;
    box-sizing: border-box;
    transition: all 0.5s ease;
    border-radius: 10px;
}

.storage-file-control:hover{
    border-color: var(--theme-color);
}

.storage-file-control>img{
    width: 24px;
    height: 24px;
}

.storage-file-column{
    height: 100%;
    display: flex;
    align-items: center;
}

.storage-file-column>a{
    min-height:22px;
    display: flex;
    align-items: end;
    font-size: 15px;
}

.storage-header-column{
    padding-bottom: 5px;
    color: #A098AE;
    font-size: 15px;
}

.storage-path-text{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
.storage-path-text>a{
    font-size: 14px;
    height: 20px;
    display: flex;
    align-items: end;
}

.storage-path-item{
    cursor: pointer;
    white-space: nowrap;
}

.storage-control-list{
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
    background-color: var(--background-color);
    border: 2px solid #e7e1f1;
    border-radius: 15px;
}

.storage-tooltip{
    display: flex;
    position: absolute;
    background: var(--background-color);
    border: 2px solid var(--theme-color);
    border-radius: 8px;
    padding: 4px 8px 4px 8px;
    pointer-events: none;
    white-space: pre-wrap;
    z-index: 2;
    max-width: 50%;
    overflow: hidden;
}

@media (max-width: 900px), (max-device-width: 900px){
    .storage-control-bar{
        height: 84px;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 700px), (max-device-width: 700px){
    .storage-file-header{
        grid-template-columns: 32px 1fr 90px 90px 32px;
    }
    .storage-file-header>*:nth-child(3){
        display: none;
    }
    .storage-file-item{
        grid-template-columns: 32px 1fr 90px 90px 32px;
    }
    .storage-file-item>*:nth-child(3){
        display: none;
    }
    .storage-file-header>*:nth-child(2) {
        min-width: 0;
    }
    .storage-file-item>*:nth-child(2){
        min-width: 0;
    }
}

@media (max-width: 700px), (max-device-width: 700px){
    .storage-file-header{
        grid-template-columns: 32px 1fr 90px 32px;
    }
    .storage-file-header>*:nth-child(5){
        display: none;
    }
    .storage-file-item{
        grid-template-columns: 32px 1fr 90px 32px;
    }
    .storage-file-item>*:nth-child(5){
        display: none;
    }
}

@media (max-width: 500px), (max-device-width: 500px){
    .storage-page{
        padding: 0 10px 10px 10px;
        gap: 10px;
    }

    .storage-control-bar{
        height: 82px;
        gap: 10px;
    }
}

@media (max-width: 400px), (max-device-width: 400px){
    .storage-file-footer{
        justify-content: center;
    }
    .page-select-container>*:nth-child(4){
        display: none;
    }
}