<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>六号盒子</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='js/videojs/video-js.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}"/>
</head>
<body>
<div id="bodyContainer" class="bodyContainer">
    <div class="bodyContent contentContainer">
        <div class="header paddingExtra">
            <img src="static/images/icons/tv.png" class="headerIcon">
            <a class="headerText">DVD</a>
        </div>
        <div class="pathBar paddingExtra">
            <a class="pathBarText" href="/home.html">首页</a><a class="pathBarText">&gt;DVD</a>
        </div>
        <div id="videoContainer" class="videoContainer hidden">
            <video id="videoContent" class="video-js videoItem marginExtra" controls preload="auto">
            </video>
        </div>
        <dl id="mvList" class="bmList marginExtra">
            <dd class="musicCtrlBar">
                <div class="searchBar rightExtra">
                    <input id="searchMvInput" class="searchInput" placeholder="输入文本搜索">
                    <div id="searchMvButton" class="searchButton clickable">
                        <a>搜索</a>
                    </div>
                </div>
                <div id="uploadMvButton" class="controlButton clickable">
                    <a>上传视频</a>
                </div>
                <img id="mvMoreCtrlBtn" src="static/images/icons/more_vertical.png" class="musicCtrlIcon">
            </dd>
        </dl>
    </div>
</div>
<div id="messagePopup" class="messagePopup hidden">
    <div id="messageContent" class="messageContent"></div>
</div>
<div id="addMvPopup" class="popupOverlay hidden">
    <div id="addMvContent" class="popupContent">
        <div class="popupHeader">
            <a class="headerText">上传视频</a>
        </div>
        <div class="bmInputSpan"></div>
        <div class="bmInputContainer">
            <div class="bmInputTextField">
                <label class="bmInputLabel">名称：</label>
                <input type="text" id="addMvName" placeholder="请输入名称"/>
            </div>
        </div>
        <div class="bmInputContainer">
            <div class="bmInputFileField">
                <label class="bmInputLabel">视频：</label>
                <input type="file" id="addMvFile" placeholder="请选择视频文件" class="clickable hidden" accept="video/mp4"/>
                <label for="addMvFile" class="controlButton clickable">选择文件</label>
                <input type="text" id="addMvFileText" placeholder="请选择视频文件" disabled>
            </div>
        </div>
        <div class="bmInputSpan"></div>
        <div class="bmInputContainer gapDefault">
            <div id="addMvCfmBtn" class="controlButton clickable">
                <a>确认</a>
            </div>
            <div id="addMvCclBtn" class="controlButton clickable">
                <a>取消</a>
            </div>
        </div>
    </div>
</div>
<div id="mvControlPopup" class="popupOverlay hidden">
    <div id="mvControlContent" class="controlContent">
        <dl class="controlBtnList">
            <dd><a id="downloadMvBtn">下载</a></dd>
            <dd><a id="editMvBtn">编辑</a></dd>
            <dd><a id="delMvBtn">删除</a></dd>
        </dl>
    </div>
</div>
<div id="editMvPopup" class="popupOverlay hidden">
    <div id="editMvContent" class="popupContent">
        <div class="popupHeader">
            <a class="headerText">编辑视频信息</a>
        </div>
        <div class="bmInputSpan"></div>
        <div class="bmInputContainer">
            <div class="bmInputTextField">
                <label class="bmInputLabel">名称：</label>
                <input type="text" id="editMvName" placeholder="请输入名称"/>
            </div>
        </div>
        <div class="bmInputSpan"></div>
        <div class="bmInputContainer gapDefault">
            <div id="editMvCfmBtn" class="controlButton clickable">
                <a>确认</a>
            </div>
            <div id="editMvCclBtn" class="controlButton clickable">
                <a>取消</a>
            </div>
        </div>
    </div>
</div>
<div id="cfmDelPopup" class="popupOverlay hidden">
    <div id="cfmDelContent" class="cfmDelContent">
        <div class="header">
            <a class="headerText">确认删除</a>
        </div>
        <div>
            <div id="confirmDelBtn" class="controlButton clickable">
                <a>确认</a>
            </div>
            <div id="cancelDelBtn" class="controlButton clickable">
                <a>取消</a>
            </div>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='js/videojs/video.js')}}"></script>
<script type="module" src="{{url_for('static', filename='js/sixbox/movie_player.js')}}"></script>
</body>
</html>
