{% extends 'component/ui_popup_base.jinja2' %}
{% import 'component/ui_forms.jinja2' as forms %}

{% block popup_id %}popupAddFolder{% endblock %}

{% block popup_content %}
<form class="form-base" id="addFolderForm">
    {{ forms.form_title(_('ADD FOLDER')) }}
    {{ forms.label_line_input('addFolderName',_('FOLDER NAME'), 'text', _('FOLDER NAME HOLDER'), True)}}
    {{ forms.label_select('addFolderSelect', _('FOLDER SELECT')) }}
    {{ forms.label_textarea('addFolderRemark', _('FOLDER REMARK'), 5, _('FOLDER REMARK HOLDER'), True) }}
    <div class="form-buttons">
        {{ forms.button('addFolderConfirm', _('CONFIRM BUTTON'), 'submit') }}
        {{ forms.warn_button('addFolderCancel', _('CANCEL BUTTON')) }}
    </div>
</form>
{% endblock %}