{% extends 'base/page_navigation_base.jinja2' %}
{% import 'component/ui_storage.jinja2' as storages %}
{% import 'component/ui_forms.jinja2' as forms %}
{% import 'component/ui_page_select.jinja2' as page_selectors %}
{% set navigation_title = _('STORAGE TITLE') %}

{% block css_file %}
    {% assets "storage_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}
{% endblock %}

{% block page_content %}
    <div class="storage-page">
        <div class="storage-control-bar">
            {{ storages.storage_path_bar() }}
            {{ forms.search_bar('storageSearch', _('STORAGE SEARCH')) }}
            {{ forms.icon_button('createFolderButton','/static/icons/folder_create.png') }}
            {{ forms.icon_button('createTextButton', '/static/icons/file_create.png') }}
            {{ forms.icon_button('uploadFileButton', '/static/icons/upload.png') }}
        </div>
        <div class="storage-file-container">
            <div class="storage-file-header">
                {{ storages.storage_header_column('') }}
                {{ storages.storage_header_column(_('STORAGE FILENAME')) }}
                {{ storages.storage_header_column(_('STORAGE UPDATE TIME')) }}
                {{ storages.storage_header_column(_('STORAGE FILE TYPE')) }}
                {{ storages.storage_header_column(_('STORAGE FILE SIZE')) }}
                {{ storages.storage_header_column(_('STORAGE FILE CONTROL')) }}
            </div>
            <div class="storage-filelist">
            </div>
            <div class="storage-file-footer">
                {{ page_selectors.page_select('storage', [20,50,100]) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block popup_pending %}
    {% include 'page/storage/popup_add_folder.jinja2' %}
    {% include 'page/storage/popup_file_control.jinja2' %}
    {% include 'page/storage/popup_edit_folder.jinja2' %}
    {% include 'page/storage/popup_upload_file.jinja2' %}
    {% include 'page/storage/popup_delete_confirm.jinja2' %}
    {% include 'page/storage/popup_edit_file.jinja2' %}
    {% include 'page/storage/popup_add_text.jinja2' %}
    {% include 'page/storage/popup_display_text.jinja2' %}
    {% include 'page/storage/popup_edit_text.jinja2' %}
    {% include 'component/ui_popup_image.jinja2' %}
{% endblock %}

{% block js_file %}
    {% assets "storage_js" %}
        <script src="/static/js/tinymce/tinymce.min.js" referrerpolicy="origin" defer>
        </script>
        <script type="module" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
