{% extends 'base/navigation/page_navigation_base.jinja2' %}
{% import 'component/ui_forms.jinja2' as forms %}
{% set navigation_title = _('MUSIC BOX') %}

{% block css_file %}
    {% assets "music_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}
{% endblock %}

{% block page_content %}
<div class="audio-page">
    <div class="audio-control-bar">
        <div class="audio-set-bar">
            <div class="audio-set-info">
                <img src="/static/icons/audio_set.png">
                <a>{{ _('NOW AUDIO SET') }}</a>
                <a id="audioSetInfo"></a>
            </div>
            {{ forms.icon_button('editSetButton','/static/icons/edit.png') }}
            {{ forms.icon_button('deleteSetButton','/static/icons/trash.png') }}
            {{ forms.icon_button('createSetButton','/static/icons/folder_create.png') }}
        </div>
        <div class="audio-list-bar">
            {{ forms.search_bar('audioSearch', _('AUDIO SEARCH')) }}
            {{ forms.icon_button('uploadAudioButton','/static/icons/upload.png') }}
        </div>
    </div>
    <div class="audio-set-part">
        <div class="audio-set-list"></div>
        <div class="audio-list">
            <div class="audio-list-header">
                <div class="audio-header-text"></div>
                <div class="audio-header-text">{{ _('AUDIO NAME') }}</div>
                <div class="audio-header-text">{{ _('AUDIO SINGER') }}</div>
                <div class="audio-header-text">{{ _('AUDIO CONTROL') }}</div>
            </div>
            <div class="audio-list-container">
                <div class="audio-list-item">
                </div>
            </div>
        </div>
    </div>
    <div class="audio-play-bar"></div>
</div>
{% endblock %}

{% block popup_pending %}
    {% include 'page/audio/popup_add_set.jinja2' %}
    {% include 'page/audio/popup_delete_set.jinja2' %}
    {% include 'page/audio/popup_edit_set.jinja2' %}
    {% include 'page/audio/popup_upload_audio.jinja2' %}
    {% include 'page/audio/popup_audio_control.jinja2' %}
    {% include 'page/audio/popup_delete_audio.jinja2' %}
    {% include 'page/audio/popup_remove_audio.jinja2' %}
{% endblock %}

{% block js_file %}
    {% assets "audio_js" %}
        <script type="module" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
