{% extends 'component/ui_popup_base.jinja2' %}
{% import 'component/ui_forms.jinja2' as forms %}

{% block popup_id %}popupEditAudio{% endblock %}

{% block popup_content %}
<form class="form-base" id="editAudioForm">
    {{ forms.form_title(_('EDIT AUDIO')) }}
    {{ forms.form_upload('editAudioLoader', 'audio/*', _('AUDIO UPLOAD HOLDER')) }}
    {{ forms.label_line_input('editAudioName',_('AUDIO NAME'), 'text', _('AUDIO NAME HOLDER'), 'required')}}
    {{ forms.label_line_input('editAudioSinger',_('AUDIO SINGER'), 'text', _('AUDIO SINGER HOLDER'), 'required')}}
    {{ forms.label_line_input('editAudioAlbum',_('AUDIO ALBUM'), 'text', _('AUDIO ALBUM HOLDER'))}}
    {{ forms.label_textarea('editAudioRemark', _('AUDIO REMARK'), '10em', _('AUDIO REMARK HOLDER')) }}
    {{ forms.label_form_upload('editAudioLyrics', _('LYRICS FILE'), '*', _('LYRICS UPLOAD HOLDER')) }}
    <div class="form-buttons">
        {{ forms.button('editAudioConfirm', _('CONFIRM BUTTON'), 'submit') }}
        {{ forms.warn_button('editAudioCancel', _('CANCEL BUTTON')) }}
    </div>
</form>
{% endblock %}