{% extends 'component/ui_popup_base.jinja2' %}

{% block popup_id %}popupDeleteAudio{% endblock %}

{% block popup_content %}
<form class="form-center">
    {{ forms.form_center_text(_('CONFIRM DELETE AUDIO')) }}
    <div class="form-center-buttons">
        {{ forms.button('deleteAudioConfirm', _('CONFIRM BUTTON')) }}
        {{ forms.warn_button('deleteAudioCancel', _('CANCEL BUTTON')) }}
    </div>
</form>
{% endblock %}