{% extends 'component/ui_popup_base.jinja2' %}
{% import 'component/ui_forms.jinja2' as forms %}

{% block popup_id %}popupAddToSet{% endblock %}

{% block popup_content %}
<form class="form-base" id="addToSetForm">
    {{ forms.label_select('addToSetSelect', _('SET SELECT'), 'required') }}
    <div class="form-buttons">
        {{ forms.button('addToSetConfirm', _('CONFIRM BUTTON'), 'submit') }}
        {{ forms.warn_button('addToSetCancel', _('CANCEL BUTTON')) }}
    </div>
</form>
{% endblock %}