{% extends 'component/ui_popup_base.jinja2' %}
{% import 'component/ui_forms.jinja2' as forms %}

{% block popup_id %}popupEditSet{% endblock %}

{% block popup_content %}
<form class="form-base" id="editSetForm">
    {{ forms.form_title(_('EDIT SET')) }}
    {{ forms.label_line_input('editSetName',_('SET NAME'), 'text', _('SET NAME HOLDER'), 'required')}}
    {{ forms.label_textarea('editSetRemark', _('SET REMARK'), '10em', _('SET REMARK HOLDER')) }}
    {{ forms.label_form_upload('editCoverLoader', _('SET COVER') , 'image/*', _('COVER UPLOAD HOLDER')) }}
    <div class="form-buttons">
        {{ forms.button('editSetConfirm', _('CONFIRM BUTTON'), 'submit') }}
        {{ forms.warn_button('editSetCancel', _('CANCEL BUTTON')) }}
    </div>
</form>
{% endblock %}