{% extends 'component/ui_popup_base.jinja2' %}

{% block popup_id %}popupDeleteSet{% endblock %}

{% block popup_content %}
<form class="form-center">
    {{ forms.form_center_text(_('CONFIRM DELETE')) }}
    <div class="form-center-buttons">
        {{ forms.button('deleteSetConfirm', _('CONFIRM BUTTON')) }}
        {{ forms.warn_button('deleteSetCancel', _('CANCEL BUTTON')) }}
    </div>
</form>
{% endblock %}