{% extends 'base/navigation/page_navigation_base.jinja2' %}
{% set navigation_title = _('AI CHAT') %}

{% block css_file %}
    {% assets "ai_chat_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}
{% endblock %}

{% block page_content %}
    <div class="chat-page">
        <div class="chat-control-panel"></div>
        <div class="chat-message-panel"></div>
        <div class="chat-input-panel"></div>
    </div>
{% endblock %}

{% block popup_pending %}

{% endblock %}

{% block js_file %}
    {% assets "ai_chat_js" %}
        <script type="module" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
