/*--------------基础属性--------------*/
:root {
    --base-font-size: 100px;  /*其它字体均以此为基准*/
    --base-margin: 10px; /*基础边缘宽度*/
    --page-background: #E0ECFE;  /*页面背影颜色*/
    --control-background: #FFFFFF;  /*可操作元素基础背影颜色*/
    --outline-focus-visible: 2px auto #FF9999;  /*元素被聚焦时*/
    --max-page-width: 740px;  /*主页面最大显示宽度*/
    --header-height: 50px;  /*主标题栏高度*/
    --part-header-height: 40px;  /*次标题栏高度*/
    --base-icon-size: 25px;  /*常规图标显示大小*/
    --main-font-size: .16rem;  /*正文字本大小*/
    --info-font-size: .14rem;  /*提示信息的文本大小*/
    --path-bar-height: 40px;  /*导航栏高度*/
    --control-bar-height: 30px;  /*操作栏高度*/
    --control-btn-width: 80px;  /*基础操作按钮宽度*/
    --base-radius: 5px;  /*基础圆角半径*/
    --base-border: 3px solid #1C5765;  /*基础弹窗边框*/
    --base-border-color: #1C5765; /*基础边框颜色*/
    --control-border-width: 2px;  /*按键边框宽度*/
    --control-border: 2px solid #1C5765;  /*按键边框*/
    --control-focus-border: 2px solid #FF9999;  /*聚焦时按键边框*/
    --base-gap: 20px;  /*基础元素间距*/
    --app-icon-size: 60px;  /*可操作APP图标大小*/
    --hover-color: #F5FFFA;  /*按键悬停颜色*/
    --hover-transition: #F5FFFA 0.3s ease;  /*悬停过渡*/
    --input-item-height: 32px; /*表单单行高度*/
    --input-gap: 10px;  /*表单单行内元素间距*/
    --input-label-width: 70px;  /*表单Label文本宽度*/
    --list-gap: 3px;  /*列表间距*/

    --music-panel-height: 80px; /*音乐播放器高度*/
    --cover-background: #336699;  /*封面背景颜色*/
    --time-text-width: 40px; /*时长宽度*/
    --music-control-size: 30px;
    --music-collect-size: 80px;
    --music-control-gap: 5px;
}

@media (min-device-width: 601px){
    :root{
        --base-padding: 20px; /*基础文本与控件边缘间距*/
        --extra-padding: 20px;
        --extra-margin: 20px;
        --input-inline-padding: 20px;  /*输入框间距*/
        --extra-span: 10px;
        --video-item-height: 400px;
    }
}

@media (max-device-width: 600px){
    :root {
        --base-padding: 10px;
        --extra-padding: 5px;
        --extra-margin: 0px;
        --input-inline-padding: 10px;  /*输入框间距*/
        --extra-span: 0px;
        --video-item-height: 250px;
    }
}
/*--------------默认类--------------*/

/*基础设置*/
body, html {
    margin: 0;
    padding: 0;
    font-size: var(--base-font-size);
    background: var(--page-background);
}
/*Body基础样式*/
.bodyContainer{
    display: flex;
    justify-content: center;
    background: var(--page-background);
    overflow-y: auto;
}
.bodyContent{
    flex-grow: 1;
    max-width: var(--max-page-width);
    margin: var(--base-margin);
    box-sizing: border-box;
}
/*内容栏样式*/
.contentContainer{
    display: flex;
    flex-direction: column;
}

/*标题栏*/
.header{
    display: flex;
    align-items: center;
    height: var(--header-height);
    gap: var(--input-gap);
}
.headerIcon{
    width: var(--base-icon-size);
    height: var(--base-icon-size);
}
.headerText{
    font-weight: bold;
    font-size: var(--main-font-size);
}
/*导航栏*/
.pathBar{
    display: flex;
    align-items: center;
    height: var(--path-bar-height);
}
.pathBarText{
    font-size: var(--main-font-size);
    text-decoration: none;
}
.pathBarText:visited{
    color: blue;
}
/*内容栏*/
.content{
    display: flex;
    flex-grow: 1;
    background: #EFF4FF;
    border-radius: var(--base-radius);
    padding: var(--base-padding);
}
/*应用程序容器*/
.appContainer{
    display: inline-block;
    flex-grow: 1;
    font-size: 0;
}
.appItem{
    display: inline-flex;
    vertical-align: top;
    flex-direction: column;
    align-items: center;
    width: calc(var(--app-icon-size) + 20px);
    height: calc(var(--app-icon-size) + 20px);
    background: var(--control-background);
    border-radius: var(--base-radius);
    padding: 5px;
    margin: 5px;
}
.appItem:hover{
    background: var(--hover-color);
    transition: var(--hover-transition);
}
.appItem>img{
    width: var(--app-icon-size);
    height: var(--app-icon-size);
}
.appItem>a{
    width: calc(var(--app-icon-size) + 20px);
    font-size: var(--main-font-size);
    text-decoration: none;
    color: blue;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

/*默认弹窗容器样式*/
.popupOverlay{
    display: block; /* 默认情况下隐藏模态弹窗 */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}


/*popupMessage内容相关样式*/
.messageContent{
    align-items: center;
    display: grid;
    padding-left: var(--base-padding);
    font-size: var(--info-font-size);
}

.controlBar{
    height: var(--control-bar-height);
    font-size: var(--info-font-size);
    display: flex;
    justify-content: center;
}
.controlButton{
    background: var(--control-background);
    height: 100%;
    width: var(--control-btn-width);
    border: var(--control-border);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--base-radius);
    font-size: var(--info-font-size);
}
.controlButton>a{
    width: var(--control-btn-width);
    font-size: var(--info-font-size);
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}
.controlButton:hover{
    background: var(--hover-color);
    transition: var(--hover-transition);
}

/*搜索栏*/
.searchBar{
    height: var(--control-bar-height);
    font-size: var(--info-font-size);
    display: grid;
    grid-template-columns: 1fr var(--control-btn-width);
    align-items: center;
    box-sizing: border-box;
}
.searchButton{
    background: var(--control-background);
    height: 100%;
    width: var(--control-btn-width);
    border: var(--control-border);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 var(--base-radius) var(--base-radius) 0;
}
.searchButton>a{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*默认模态弹窗标题栏*/
.popupHeader{
    display: flex;
    align-items: center;
    height: var(--part-header-height);
}

/*富文本输入项容器*/
.nbInputContainer{
    display: grid;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
}
/*富文本输入栏*/
.nbInputLabel{
    height: var(--input-item-height);
    font-size: var(--main-font-size);
    display: flex;
    align-items: center;
}
.nbTinyMceField>div:last-child{
    height: 100%;
    border-color: var(--base-border-color);
}

/*书签输入项容器*/
.bmInputContainer{
    height: var(--input-item-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}
/*书签输入项占位*/
.bmInputSpan{
    height: var(--extra-span);
}
/*书签输入项标签*/
.bmInputLabel{
    font-size: var(--main-font-size);
    width: var(--input-label-width);
}
/*书签输入项-文本输入类型*/
.bmInputTextField{
    display: grid;
    grid-template-columns: var(--input-label-width) 1fr;
    height: var(--input-item-height);
    flex-grow: 1;
    align-items: center;
    font-size: var(--main-font-size);
}
.bmInputTextField>input{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding-inline: var(--input-inline-padding);
    background: var(--control-background);
    border: var(--control-border);
    border-radius: var(--base-radius);
}

/*书签输入项-文件输入类型*/
.bmInputFileField{
    display: grid;
    grid-template-columns: var(--input-label-width) calc(var(--control-btn-width) + 5px) 1fr;
    height: 100%;
    flex-grow: 1;
    align-items: center;
    font-size: var(--main-font-size);
}
.bmInputFileField>input{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin-right: 5px;
    padding: 5px 0;
    padding-inline: var(--input-inline-padding);
    background: var(--control-background);
    border: var(--control-border);
    border-radius: var(--base-radius);
}

/*书签输入项-文本输入类型*/
.bmInputSelectField{
    display: grid;
    grid-template-columns: var(--input-label-width) 1fr;
    height: 100%;
    flex-grow: 1;
    align-items: center;
    font-size: var(--main-font-size);
}

/*书签的行*/
.bmItem{
    padding: 1px 0;
    margin: 0;
    display: grid;
    grid-template-columns: var(--base-icon-size) 1fr var(--base-icon-size);
    gap: var(--input-gap);
    align-items: center; /* 垂直居中对齐子元素（如果需要的话） */
    color: blue;
    font-size: var(--main-font-size);
}
.bmItem:hover{
    background-color: var(--hover-color);
    transition: var(--hover-transition);
}
.bmItem>a{
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}
.bmItem>a:visited{
    color: blue;
}
.bmItem>a::-webkit-scrollbar {
    height: 1px;
}
/*书签图标样式*/
.bmIcon{
    width: var(--base-icon-size);
    height: var(--base-icon-size);
}
.bmIcon:hover{
    background-color: var(--hover-color);
    transition: var(hover-transition); /* 可选：添加过渡效果 */
}

/*右侧显示的弹窗样式*/
.rightCtrlContent{
    display: block; /* 默认隐藏弹窗 */
    position: fixed;
    transform: translate(0, -50%);
    border: var(--base-border);
    border-radius: var(--base-radius);
    background-color: var(--control-background);
}

/*操作弹窗样式*/
.controlContent{
    display: block; /* 默认隐藏弹窗 */
    position: fixed;
    transform: translate(-100%, -50%);
    border: var(--base-border);
    border-radius: var(--base-radius);
    background-color: var(--control-background);
}
.controlBtnList{
    display: grid;
    gap: var(--input-gap);
    margin: var(--base-margin) 0;
    font-size: var(--main-font-size);
}
.controlBtnList>dd{
    margin: 0 var(--base-margin);
    width: var(--control-btn-width);
    text-align: center;
}
.controlBtnList>dd:hover{
    background: var(--hover-color);
    transition: var(--hover-transition);
}
.controlBtnList>dd>a{
    display: block;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*确认删除弹窗*/
.cfmDelContent>div:nth-child(1){
    margin: auto;
}
.cfmDelContent>div:nth-child(2){
    display: flex;
    width: 100%;
    justify-content: center;
    gap: var(--base-gap);
}

/*音乐播放器容器*/
.musicPlayContainer{
    background: var(--control-background);
    border-radius: var(--base-radius);
    display: grid;
    grid-template-columns: var(--music-panel-height) 1fr;
    height: var(--music-panel-height);
    box-sizing: border-box;
}
/*音乐封面容器*/
.coverContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
}
.coverContainer>img{
    height: 80%;
    width: 80%;
    border-radius: var(--base-radius);
    background: var(--cover-background);
}
/*音乐控制容器*/
.mpCtrlContainer{
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-sizing: border-box;
}
/*音乐进度栏*/
.musicScrollBar{
    display: grid;
    grid-template-columns: var(--time-text-width) 1fr var(--time-text-width);
    align-items: center;
    font-size: var(--info-font-size);
    box-sizing: border-box;
    padding-right: var(--input-gap);
    gap: var(--input-gap);
}
.musicScrollBar>div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--time-text-width);
}
.musicProcess{
    flex-grow: 1;
    width: 100%;
}
/*音乐控制按钮面板*/
.musicCtrlPanel{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 3fr;
    height: calc(var(--music-panel-height) / 2);
    align-items: center;
    padding-right: var(--input-gap);
    gap: var(--input-gap);
}
.musicCtrlPanel>img{
    width: var(--base-icon-size);
    height: var(--base-icon-size);
    border-radius: var(--base-radius);
    box-sizing: border-box;
}
.musicCtrlPanel>img:hover{
    border: var(--control-border);
}
.musicCtrlPanel>img:nth-child(2), .musicCtrlPanel>img:nth-child(3), .musicCtrlPanel>img:nth-child(4){
    margin: auto;
}
.musicCtrlPanel>img:nth-child(5){
    margin-inline-start: auto;
}

/*音乐播放器导航路径*/
.musicPathBar{
    margin: 0;
    display: grid;
    grid-template-columns: var(--base-icon-size) 1fr;
    gap: var(--input-gap);
    font-size: var(--main-font-size);
    align-items: center; /* 垂直居中对齐子元素（如果需要的话） */
}
.musicPathBar>div{
    display: grid;
    grid-template-columns: var(--music-collect-size) 1fr;
    color: black;
    width: 100%;
    align-items: center; /* 垂直居中对齐子元素（如果需要的话） */
}
.musicPathBar>div>a{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.musicPathBar>div>a:first-child{
    color: blue;
}

/*音乐合集操作栏*/
.musicCtrlBar{
    margin: 0;
    margin-bottom: var(--input-gap);
    padding-bottom: var(--input-gap);
    border: var(--control-border);
    border-left: 0;
    border-right: 0;
    border-top: 0;
    display: grid;
    grid-template-columns: 1fr var(--control-btn-width) var(--control-bar-height);
    gap: var(--music-control-gap);
    font-size: var(--main-font-size);
    align-items: center; /* 垂直居中对齐子元素（如果需要的话） */
    overflow: hidden;
    height: var(--control-bar-height);
}

.searchCtrlBar{
    margin: 0;
    margin-bottom: var(--input-gap);
    border: 0;
    display: grid;
    grid-template-columns: 1fr var(--control-btn-width) var(--control-bar-height);
    gap: var(--music-control-gap);
    font-size: var(--main-font-size);
    align-items: center; /* 垂直居中对齐子元素（如果需要的话） */
    overflow: hidden;
    height: var(--control-bar-height);
}

/*音乐合集操作栏*/
.musicCtrlIcon{
    width: var(--control-bar-height);
    height: var(--control-bar-height);
    border-radius: var(--base-radius);
    border: var(--control-border);
    box-sizing: border-box;
    background: var(--control-background);
}

/*书签列表*/
.bmList{
    background: var(--control-background);
    flex-grow: 1;
    margin: 0;
    padding: var(--base-padding);
    border-radius: var(--base-radius);
    gap: var(--list-gap);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/*操作栏*/
.controlPanel{
    height: calc(var(control-bar-height) + var(--input-gap));
    margin-bottom: var(--input-gap);
    gap: var(--input-gap);
    display: grid;
    grid-template-columns: 3fr var(--extra-padding) 1fr;
    align-items: center;
    font-size: 0;
}

.videoCtrlPanel{
    height: calc(var(--control-bar-height) + var(--input-gap));
    margin-bottom: var(--input-gap);
    gap: var(--input-gap);
    display: grid;
    align-items: center;
    font-size: 0;
    border-radius: var(--base-radius);
    box-sizing: border-box;
    padding: 0 var(--base-padding);
    grid-template-columns: 1fr var(--control-bar-height) var(--control-bar-height) var(--control-bar-height) var(--control-bar-height);
}
.videoPlayText{
    font-size: 0.16rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*音乐内容栏*/
.mpContent{
    display: grid;
    grid-template-rows: var(--music-panel-height) 1fr;
    gap: var(--base-gap);
    flex-grow: 1;
    padding: var(--input-gap) 0;
}

.ctrlListContainer{
    display: flex;
    flex-direction: column;
    font-size: var(--main-font-size);
    gap: var(--input-gap);
    margin: var(--input-gap);
}

.ctrlListItem{
    margin: 0px var(--input-gap);
    gap: var(--input-gap);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ctrlListItem>a{
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-device-width: 600px){
    /*弹窗消息容器*/
    .messagePopup
    {
        display: block; /* 默认隐藏弹窗 */
        position: fixed;
        top: 5%;
        left: 50%;
        width: calc(100% - 60px);
        transform: translate(-50%, -50%);
        border: var(--base-border);
        border-radius: var(--base-radius);
        padding: var(--base-padding);
        background-color: var(--control-background);
        z-index: 1;
    }
    /*默认模态弹窗内容*/
    .popupContent{
        position: fixed;
        top: 30%;
        left: 50%;
        width: calc(100% - 60px);
        transform: translate(-50%, -50%);
        border: var(--base-border);
        border-radius: var(--base-radius);
        background-color: var(--control-background);
        font-size: var(--main-font-size);
        padding: var(--base-padding);
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        gap: var(--input-gap);
    }
    /*笔记模态弹窗内容*/
    .nbPopupContent{
        position: fixed;
        top: 50%;
        left: 50%;
        width: calc(100% - 2 * var(--base-padding));
        transform: translate(-50%, -50%);
        border: var(--base-border);
        border-radius: var(--base-radius);
        background-color: var(--control-background);
        font-size: var(--main-font-size);
        padding: var(--base-padding);
        display: grid;
        box-sizing: border-box;
        gap: var(--input-gap);
        overflow-y: auto;
        max-height: 100%;
    }
    /*笔记模态弹窗内容-纯显示*/
    .nbPopupDisplay{
        position: fixed;
        top: 50%;
        left: 50%;
        width: calc(100% - 20px);
        transform: translate(-50%, -50%);
        border: var(--base-border);
        border-radius: var(--base-radius);
        background-color: var(--control-background);
        font-size: var(--main-font-size);
        padding: var(--base-padding);
        display: grid;
        gap: var(--input-gap);
        height: 90%;
        grid-template-rows: var(--input-item-height) 1fr;
        box-sizing: border-box;
        overflow-y: auto;
    }
    /*搜索栏输入*/
    .searchInput{
        background: var(--control-background);
        height: 100%;
        width: 100%;
        padding-inline: var(--input-inline-padding);
        box-sizing: border-box;
        border: var(--control-border);
        border-radius: var(--base-radius) 0 0 var(--base-radius);
        border-right: 0;
        outline: none;
        box-shadow: none;
    }
    /*书签输入下拉选择框*/
    .bmInputSelect{
        box-sizing: border-box;
        height: 100%;
        background: var(--control-background);
        border: var(--control-border);
        border-radius: var(--base-radius);
        padding-left: calc(var(--input-inline-padding) - 5px);
    }
    /*确认删除弹窗*/
    .cfmDelContent{
        position: fixed;
        top: 30%;
        left: 50%;
        width: calc(100% - 60px);
        transform: translate(-50%, -50%);
        border: var(--base-border);
        padding: var(--base-padding);
        border-radius: var(--base-radius);
        background-color: var(--control-background);
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        box-sizing: border-box;
        font-size: var(--main-font-size);
    }
}

/*操作弹窗样式*/
.volumeCtrlContent{
    display: block; /* 默认隐藏弹窗 */
    position: fixed;
    transform: translate(-100%, -50%);
    border: var(--base-border);
    border-radius: var(--base-radius);
    background-color: var(--control-background);
    height: var(--control-bar-height);
    margin: auto;
}
.volumeCtrlContent>div{
    height: var(--control-bar-height);
    display: grid;
}

.videoContainer{
    height: var(--video-item-height);
    width: calc(100% - var(--extra-margin));
    box-sizing: border-box;
    margin-bottom: 20px;
}

.videoItem{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.searchInput:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 1000px var(--control-background) inset;
}

@media (min-device-width: 601px){

    /*弹窗消息容器*/
    .messagePopup
    {
        display: block; /* 默认隐藏弹窗 */
        position: fixed;
        top: 5%;
        left: 50%;
        width: 500px;
        transform: translate(-50%, -50%);
        border: var(--base-border);
        border-radius: var(--base-radius);
        padding: calc(var(--base-padding) / 2);
        background-color: var(--control-background);
        z-index: 1;
        box-sizing: border-box;
    }
    /*默认模态弹窗内容*/
    .popupContent{
        position: fixed;
        top: 30%;
        left: 50%;
        width: 500px;
        transform: translate(-50%, -50%);
        border: var(--base-border);
        border-radius: var(--base-radius);
        background-color: var(--control-background);
        font-size: var(--main-font-size);
        padding: var(--base-padding);
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        gap: var(--input-gap);
    }
    /*笔记模态弹窗内容*/
    .nbPopupContent{
        position: fixed;
        top: 50%;
        left: 50%;
        width: 50%;
        min-width: 500px;
        transform: translate(-50%, -50%);
        border: var(--base-border);
        border-radius: var(--base-radius);
        background-color: var(--control-background);
        font-size: var(--main-font-size);
        padding: var(--base-padding);
        display: grid;
        box-sizing: border-box;
        gap: var(--input-gap);
        overflow-y: auto;
        max-height: 100%;
    }
    /*笔记模态弹窗内容-纯显示*/
    .nbPopupDisplay{
        position: fixed;
        top: 50%;
        left: 50%;
        width: 50%;
        min-width: 500px;
        min-height: 90%;
        transform: translate(-50%, -50%);
        border: var(--base-border);
        border-radius: var(--base-radius);
        background-color: var(--control-background);
        font-size: var(--main-font-size);
        padding: var(--base-padding);
        display: grid;
        grid-template-rows: var(--input-item-height) 1fr;
        box-sizing: border-box;
        overflow-y: auto;
    }

    /*搜索栏输入*/
    .searchInput{
        background: var(--control-background);
        height: 100%;
        padding-inline: var(--input-inline-padding);
        box-sizing: border-box;
        border: var(--control-border);
        border-right: 0;
        border-radius: var(--base-radius) 0 0 var(--base-radius);
        outline: none;
        box-shadow: none;
    }
    /*书签输入下拉选择框*/
    .bmInputSelect{
        box-sizing: border-box;
        height: 100%;
        background: var(--control-background);
        border: var(--control-border);
        border-radius: var(--base-radius);
        padding-left: calc(var(--input-inline-padding) - 5px);
    }
    /*确认删除弹窗*/
    .cfmDelContent{
        position: fixed;
        top: 30%;
        left: 50%;
        width: 300px;
        transform: translate(-50%, -50%);
        border: var(--base-border);
        padding: var(--base-padding);
        border-radius: var(--base-radius);
        background-color: var(--control-background);
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        box-sizing: border-box;
        font-size: var(--main-font-size);
    }
}

#musicMoreCtrlBtn{
    transform: rotate(90deg);
}

/*------------用于补充其它的样式-------------------*/
.rightExtra{
    margin-right: var(--extra-margin);
}
.marginExtra{
    margin-left: var(--extra-margin);
}
.paddingExtra{
    padding-left: var(--extra-padding);
}
/*右侧间隔*/
.rightMargin{
    margin-right: 8px;
}
/*隐藏元素*/
.hidden{
    display: none; /* 默认隐藏弹窗 */
}
/*可操作鼠标样式*/
.clickable{
    cursor: pointer;
}
/*默认间距*/
.gapDefault{
    gap: var(--base-gap);
}
/*模态弹窗开启时禁用页面滚动*/
.modalOpen{
    overflow: hidden;
}
::-webkit-scrollbar{
    width: 0px;
}